name: Tag Push Checker

on:
  push:
    tags:
      - v*

permissions:
  contents: read
  issues: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  releaser:
    uses: pl-strflt/uci/.github/workflows/tagpush.yml@${{{ config.versions.uci // "v\(source.version.major).\(source.version.minor)" }}}
