name: Process

on:
  workflow_call:
    inputs:
      targets:
        description: "List of repository names to deploy to"
        required: true
        type: string
      branch:
        description: "Branch to deploy to"
        required: true
        type: string
      script:
        description: "Script to run"
        required: true
        type: string
      defaults:
        description: "Defaults to use for each repository"
        required: false
        default: '{}'
        type: string
      override:
        description: "Override to use for each repository"
        required: false
        default: '{}'
        type: string
    secrets:
      UCI_GITHUB_TOKEN:
        required: true

defaults:
  run:
    shell: bash

jobs:
  copy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        repository: ${{ fromJSON(inputs.targets) }}
      max-parallel: 10
    name: ${{ matrix.repository }}
    steps:
    - name: Show inputs
      env:
        TARGETS: ${{ inputs.targets }}
        BRANCH: ${{ inputs.branch }}
        SCRIPT: ${{ inputs.script }}
        DEFAULTS: ${{ inputs.defaults }}
        OVERRIDE: ${{ inputs.override }}
      run: |
        echo "TARGETS=$TARGETS"
        echo "BRANCH=$BRANCH"
        echo "SCRIPT=$SCRIPT"
        echo "DEFAULTS=$DEFAULTS"
        echo "OVERRIDE=$OVERRIDE"
    - name: Checkout ${{ matrix.repository }}
      uses: actions/checkout@v3
      with:
        path: ${{ matrix.repository }}
        repository: ${{ matrix.repository }}
        token: ${{ secrets.UCI_GITHUB_TOKEN }}
        persist-credentials: true
        submodules: recursive
    - name: Checkout ${{ github.repository }}
      uses: actions/checkout@v3
      with:
        path: ${{ github.repository }}
        ref: ${{ github.ref }}
    - id: github
      name: Get ${{ matrix.repository }} GitHub info
      working-directory: ${{ matrix.repository }}
      env:
        REPO: ${{ matrix.repository }}
        GITHUB_TOKEN: ${{ secrets.UCI_GITHUB_TOKEN }}
      run: |
        git fetch origin --tags
        eof="EOF$RANDOM"
        default_branch="$(git remote show origin | awk '/HEAD branch/ {print $NF}')"
        protected_branches="$(gh api -X GET "/repos/$REPO/branches" -f protected=true | jq -c 'map(.name)')"
        languages="$(gh api -X GET "/repos/$REPO/languages" | jq -c 'to_entries | sort_by(.value) | reverse | map(.key)')"
        tag="$(git describe --tags --abbrev=0 || true)"
        echo "json<<$eof" >> $GITHUB_OUTPUT
        echo '{' >> $GITHUB_OUTPUT
        echo '"default_branch":"'"$default_branch"'",' >> $GITHUB_OUTPUT
        echo '"protected_branches":'"$protected_branches"',' >> $GITHUB_OUTPUT
        echo '"languages":'"$languages"',' >> $GITHUB_OUTPUT
        echo '"tag":"'"$tag"'"' >> $GITHUB_OUTPUT
        echo '}' >> $GITHUB_OUTPUT
        echo "$eof" >> $GITHUB_OUTPUT
    - id: source
      name: Get ${{ github.repository }} GitHub info
      working-directory: ${{ github.repository }}
      run: |
        git fetch origin --tags
        eof="EOF$RANDOM"
        tag="$(git describe --tags --abbrev=0 || true)"
        echo "json<<$eof" >> $GITHUB_OUTPUT
        echo '{' >> $GITHUB_OUTPUT
        echo '"tag":"'"$tag"'"' >> $GITHUB_OUTPUT
        echo '}' >> $GITHUB_OUTPUT
        echo "$eof" >> $GITHUB_OUTPUT
    - id: config
      name: Get ${{ matrix.repository }} config
      working-directory: ${{ matrix.repository }}
      env:
        REPO: ${{ matrix.repository }}
        DEFAULTS: ${{ toJSON(fromJSON(inputs.defaults)[fromJSON(steps.github.outputs.json).languages[0]] || fromJSON(inputs.defaults) || fromJSON('{}')) }}
        OVERRIDE: ${{ toJSON(fromJSON(inputs.override)[fromJSON(steps.github.outputs.json).languages[0]] || fromJSON(inputs.override) || fromJSON('{}')) }}
      run: |
        if [[ -f .github/uci.yml ]]; then
          echo "json=$(yq -c --argjson defaults "$DEFAULTS" --argjson override "$OVERRIDE" '$defaults + . + $override' .github/uci.yml)" >> $GITHUB_OUTPUT
        else
          echo "json=$(jq -c --argjson defaults "$DEFAULTS" --argjson override "$OVERRIDE" -n '$defaults + $override')" >> $GITHUB_OUTPUT
        fi
    - name: Prepare ${{ matrix.repository }} for deployment
      working-directory: ${{ matrix.repository }}
      env:
        BRANCH: ${{ inputs.branch }}
        DEFAULT_BRANCH: ${{ fromJSON(steps.github.outputs.json).default_branch }}
      # If the branch already exists, check it out; otherwise, create it.
      # Then, try rebasing the uci/* branch onto the default branch.
      # If that fails, reset the uci/* branch to the default branch.
      run: |
        git config user.name web3-bot
        git config user.email web3-bot@users.noreply.github.com
        git checkout "$BRANCH" || git checkout -B "$BRANCH"
        git rebase "$DEFAULT_BRANCH" || (git rebase --abort && git reset --hard "$DEFAULT_BRANCH")
    - env:
        SOURCE: ${{ github.repository }}
        TARGET: ${{ matrix.repository }}
        CONTEXT: |
          {
            "config": ${{ toJSON(fromJSON(steps.config.outputs.json)) }},
            "github": ${{ toJSON(fromJSON(steps.github.outputs.json)) }},
            "source": ${{ toJSON(fromJSON(steps.source.outputs.json)) }}
          }
        SCRIPT: ./${{ github.repository }}/scripts/${{ inputs.script }}
      run: $SCRIPT
    - id: ahead
      name: Check if push is needed
      working-directory: ${{ matrix.repository }}
      env:
        BRANCH: ${{ inputs.branch }}
        DEFAULT_BRANCH: ${{ fromJSON(steps.github.outputs.json).default_branch }}
      run: git rev-list --count "$DEFAULT_BRANCH".."$BRANCH" | xargs -I{} echo "ahead={}" | tee -a $GITHUB_OUTPUT
    - name: Push changes
      if: steps.ahead.outputs.ahead != '0'
      working-directory: ${{ matrix.repository }}
      env:
        BRANCH: ${{ inputs.branch }}
      run: git push origin "$BRANCH" -f
